@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="BordaGradiente" class="display-4">Bem vindo ao Sistema de Informações da TI</h1>
</div>

<div class="card-deck">

    <div class="card border-primary">
        <div class="card-header text-center"> Unidades</div>
        <div class="card-text text-center">Listagem atualizada dos unidades com atendimento da TI</div>
    </div>

    <div class="card border-secondary">
        <div class="card-header text-center">Equipametos</div>
        <div class="card-text text-center">Listagem dos equipamentos administrados pelo setor:</div>
    </div>

    <div class="card border-success">
        <div class="card-header text-center">Internet</div>
        <div class="card-text text-center">Informações sobre a conectidades das unidades e sede</div>
    </div>

    <div class="card border-success">
        <div class="card-header text-center"> Função D</div>
        <div class="card-text">Funções do sistema</div>
    </div>

</div>
