@model Web.Models.Equipamentos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Equipamentos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEquipamento" />
            <div class="form-group">
                <label asp-for="EquipDescricao" class="control-label"></label>
                <input asp-for="EquipDescricao" class="form-control" />
                <span asp-validation-for="EquipDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipNuSerie" class="control-label"></label>
                <input asp-for="EquipNuSerie" class="form-control" />
                <span asp-validation-for="EquipNuSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipNuControle" class="control-label"></label>
                <input asp-for="EquipNuControle" class="form-control" />
                <span asp-validation-for="EquipNuControle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipTipo" class="control-label"></label>
                <input asp-for="EquipTipo" class="form-control" />
                <span asp-validation-for="EquipTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipOrigem" class="control-label"></label>
                <input asp-for="EquipOrigem" class="form-control" />
                <span asp-validation-for="EquipOrigem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipValor" class="control-label"></label>
                <input asp-for="EquipValor" class="form-control" />
                <span asp-validation-for="EquipValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUE" class="control-label"></label>
                <input asp-for="IdUE" class="form-control" />
                <span asp-validation-for="IdUE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
